.header-logo {
    height: 40px;
}
.page-title {
    background-image: url("/public/boca-ariel.jpg");
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px;
    --bs-gutter-x: 0;
}
.page-title h1 {
    color: #FFF;
    text-align: center;
    background-color: rgba(0, 51, 102, 0.8);
    margin: auto; 
    padding: 10px;
    align-items: center;
    width: fit-content;

}
.blue-button-group button {
    background-color: #003366;
    color: white;
    border-color: white;
}
.blue-button-group button.active {
    background-color: #7A97AB; ;
}
.blue-button-group button:hover {
    background-color: #4D4C55 ;

}
.blue-button {
    background-color: #003366;
    color: white;
    border-color: white;
}
.blue-button:hoover {
    background-color: #4D4C55 ;
    color: white;
}
.submit-button {
    margin: 10px 0px;
}
input {
     margin: 10px 0px;
}
.main-background-color {
	background-color: #003366;
}
.white-text {
	text-color: #FFF;
}
.grey-text {
    text-color: #4D4C55;
}
header.main-background-color a {
    color: #fff !important;
    text-decoration: none; /* Optional: Removes underline from links */
}

header.main-background-color a:hover {
    color: #CCCCCC !important; /* Optional: Slightly lighter color on hover for contrast */
}

.grey-text li a {
    color: #4D4C55 !important;
    text-decoration: none; /* Optional: Removes underline from links */
}

/* Tooltip container */
.tooltip-container {
    position: relative;
    display: inline-block;
}
  
  /* Tooltip text */
.tooltip-text {
    visibility: hidden;
    width: 250px; /* Adjust width as necessary */
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 100%;
    margin-left: -125px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s ease;
}

  /* Show the tooltip when hovering over the tooltip-container */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


/* Sidebar */
.sidebar {
  width: 200px; /* Width of the sidebar */
  background-color: #ffffff;
  color: #003366;
  padding: 20px;
  position: fixed; /* Sidebar stays on the left side */
  height: 100%;
  left: 0;
  align-items: flex-start; /* Align buttons to the left */
}

.sidebar button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: left; /* Align text to the left */
}

.sidebar button.active {
  background-color: #4d6c8d; /* Blue color for active button */
}

.sidebar button:hover {
  background-color: #4D4C55;
}


